/.idea
*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/.gradle
/CustomCircle/build
/CustomCircle/CustomCircle.iml
/AndroidDemo-CustomViewsDemo.iml
/MyCommonLibrary/MyCommonLibrary.iml
/MyCommonLibrary/build
/CustomRectangle/CustomRectangle.iml
/CustomRectangle/build
